/******************************************************************

Grid
Based on Bootstrap Responsive Pixel Sizes

******************************************************************/
$screen-xs-max: 576px;

$screen-sm-min: 575px;
$screen-sm-max: 576px;

$screen-md-min: 767px;
$screen-md-max: 768px;

$screen-lg-min: 991px;
$screen-lg-max: 992px;

$screen-xl-max: 1200px;
